<div id="top">
<h1><%=h @rsvp.event.name %></h1>
<table>
<tr valign="top"><td>
<div id="eventdetails" class="padding" ><%= @rsvp.event.description.gsub(/(\r\n)+/, "<br/><br/>")
                                          %>
</div>
</td><td>
<div id="address" class="padding">

<b>Start:   <%=h @rsvp.event.start.strftime("%l:%M%p") %> </b> <br/>

<a target='_new' href = 'http://maps.google.com/maps?f=d&hl=en&daddr=<%= @address.gsub(/ /,'+') %>'>

<b>Event Location  (Click for directions)</b>
</a><br/>
<a target='_new' href = 'http://maps.google.com/maps?f=d&hl=en&daddr=<%= @address.gsub(/ /,'+') %>'>
<%= address(@rsvp.event.location) %>
</a>
</div>
<div id="map"></div>
<!-- TODO add back in... Click the Map to Get Directions -->
</td></tr></table>
</div>

<div id="status">
<h1>Your Status</h1>
<div id="yours" class="padding">
<% form_tag url_for(:action => "update") do %>
<%= hidden_field("rsvp", "id") %>
<%= hidden_field("rsvp", "key") %>
<table>
<tr><th>Your Name</th><td>
    <%= text_field("person", "name") %>
</td></tr>
<tr><th>Your Email</th><td>
    <%= text_field("person", "email") %>
</td></tr>
<tr><th>Will attend?</th>
<td><%= select( "rsvp", "state", Rsvp.states ) %>

</td></tr>
<tr><th>Number Attending</th><td>
    <%= text_field("rsvp", "num") %>
</td></tr>
<tr><td colspan=2><%= text_area("rsvp", "response", :size => "60x10") %></td></tr>
<tr><td colspan=2><%= submit_tag "Update Your Status" %></td></tr>
</table>
<% end %>
</div>
</div>

<div id="attending">
<h1>Who's coming?</h1>
<table width="100%">
<tr><th width="300">Name</th><th width="100">Number</th><th>Message</th></tr>
<tr><td class="attend_yes" colspan=3>Will Attend - <%= @rsvp.event.yes_number %></th></tr>
<% @rsvp.event.yes_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>

<tr><td class="attend_maybe" colspan=3>May Attend - <%= @rsvp.event.maybe_number %></th></tr>

<% @rsvp.event.maybe_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>

<tr><td class="attend_no" colspan=3>Won't Attend - <%= @rsvp.event.no_number %></th></tr>
<% @rsvp.event.no_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>

<tr><td class="attend_na" colspan=3>Haven't Responded - <%= @rsvp.event.na_number %></th></tr>
<% @rsvp.event.na_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>
</table>
</div>

<div id="software_info">
<h4>About this software</h4>
<table>
<tr>
        This system is a Ruby on Rails application, which was originally 
	authored by Sean Dague and is hosted on 
	<a href="http://github.com">github.com</a> at 
	<a href="https://github.com/sdague/inviter">
	https://github.com/sdague/inviter</a>.  It is free software 
	licensed under the <a href="http://www.gnu.org/licenses/agpl.html">
	GNU Affero General Public License</a>.
	<p>
	The <a href="<%= SITE_CONFIG['server'] %>"><%= SITE_CONFIG['server'] %></a>
	 version of this software is hosted at 
	<a href="<%= SITE_CONFIG['github_loc'] %>">
	<%= SITE_CONFIG['github_loc'] %></a> and the source code
	can be obtained there.
</table>
</div>


